p {
    margin: 0px;
}

a {
    color: #2e3192;
    text-decoration: none;
}

#page {
    margin: auto;
    max-width: 1280px;
    font-family: Hind, sans-serif;
}

#header {
    background-color: #f3e9e9;
    font-weight: bold;
    font-size: 2em;
    position: relative;
}

#header > h1 {
    margin: 0px;
    padding: 50px;
    color: #2e3192;
}

#header > div {
    position: absolute;
    top: 0px;
    right: 3px;
}

#header > div > a {
    margin: 5px;
}

#content {
    background-color: #ffe9f2;
}

#content > img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 20px auto;
}

#content > p {
    text-align: center;
    color: #2e3192;
    font-size: 1.5em;
}

#top {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

#top > ul {
    flex: 0 0 41.5%;
    padding: 0px 0px 0px 40px;
    margin: 0px;
    list-style: none;
}

#top > ul > li {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    padding: 10px 5px;
    color: #2e3192;
    text-transform: capitalize;
}

#top > ul > li > div:nth-of-type(1) {
    flex: 0 0 40%;
}

#top > ul > li > div:nth-of-type(1) > svg {
    display: block;
    margin: auto;
}

#top > ul > li > div:nth-of-type(2) {
    flex: 0 0 55%;
}

#top > ul > li > div:nth-of-type(2) > p {
    text-align: center;
}

#top > ul > li > div:nth-of-type(2) > p:nth-of-type(2) {
    font-size: 0.8em;
}

#top > div {
    flex: 0 0 55%;
}

#stats {
    background-color: #faf7f5;
    padding: 55px 0px;
    display: flex;
    flex-wrap: wrap;
}

#stats > .chart {
    flex: 0 0 50%;
}

#stats > .chart > h2 {
    text-transform: capitalize;
    text-align: center;
}

#footer {
    color: #2e3192;
    text-align: center;
    padding: 10px 0px;
}

#footer > p:nth-of-type(1) {
    font-size: 1.8em;
}
